.maindiv{
  width:100vw ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(226, 43%, 10%);
}

.firstdiv{
  width: 60%;
  height: 60%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.profilediv{
  height: 100%;
  width: 25%;
  outline: 1px solid black;
  border-radius: 20px;
  background-color:  hsl(235, 46%, 20%);

}
.detailsdiv{
  height: 100%;
  width: 70%;
  
  border-radius: 20px;
  display: grid;
grid-template-columns:repeat(3,1fr);

row-gap: 32px;
column-gap: 14px;

}
.namediv{
  height: 65%;
  width: 100%;
  
  border-radius: 20px;
  padding-left: 20px;
  box-sizing: border-box;
    background-color: hsl(246, 80%, 60%) ;
}
.daily{
  font-size: small;
  margin-top: 20px;
  margin-left: 20px;
  color: hsl(235, 45%, 61%);
}
.namediv img{
  width: 4vw;
  height: 4vw;
  
  margin-top: 30px;
  border-radius: 100%;
  border: 2px solid white ;
}
.report{
  font-size: smaller;
  color: white;
  font-weight:100;

}
.jeremy{
  font-size:xx-large;
  margin-top: -10px;
  color: white;
  font-weight: 300;

}
